/*PREREQUISITES*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none !important;
}

@font-face {
  font-family: 'apercu';
  src: url('lib/font.otf');
}

hr {
  width: 85%;
  transition: 0.4s !important;
}

.section {
  padding: 75px 20px;
}

.section-title {
  font-family: 'apercu';
  font-weight: bold;
  color: #111;
  font-size: 3rem;
  margin-right: 30px;
}

.section-text {
  font-family: 'open sans', sans-serif;
  font-size: 1.5rem;
  padding: 20px 0px;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  padding: 0 !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/*HOMEPAGE*/

.home {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home .home-text {
  margin-top: 35vh;
  padding-left: 5vw;
}

.home-text h3 {
  font-family: 'apercu';
  font-weight: bold;
  color: #111;
  font-size: 1.7rem;
  margin-right: 30px;
}

.home-image {
  height: 90vh;
  padding-top: 3vh;
}

.home-image img {
  height: 100%;
}

.home-text img {
  height: 13vh;
}

@media screen and (max-width: 768px) {
  .home-text img {
    height: auto;
    width: 90%;
  }
  .home .home-text {
    margin-top: 15vh;
  }
}

.home-text .home-buttons {
  padding: 0px 10px;
}

.home .btn {
  font-size: 16px;
  padding: 7px 25px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #353535;
  font-family: 'open sans', sans-serif;
  transition: 0.25s;
}
.btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-logo {
  height: 40px;
  transition: 0.25s;
  filter: invert(100%);
}
.navbar {
  padding: 10px 25px;
  background-color: transparent;
  transition: 0.25s;
}
.nav-link {
  margin: 0px 5px;
  transition: 0.25s;
}

.nav-link {
  color: #000;
}

/*SCHEDULE MODAL*/

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer .btn {
  background-color: #111;
}

/*UPDATES*/
.updates {
  width: 100%;
  overflow-x: hidden;
  padding: 30px;
}

.updates p {
  font-size: 20px;
  text-align: center;
}

.updates a {
  color: #111;
}

.updates a:hover {
  font-weight: 600;
}

.updates iframe {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.updates2 {
  height: 400px;
  overflow-x: hidden;
  background-color: transparent;
  width: 100%;
}

.updates .card {
  justify-content: center;
  align-content: center;
  transition: 0.5s;
  text-align: left;
  border-radius: 10px;
  border: transparent;
  margin: 5px 10px;
  padding: 17px;
  background-color: #efefef;
  line-height: 26px;
}

.updates .new {
  -webkit-animation: flicker 0.5s infinite;
  animation: flicker 0.5s infinite;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 15px;
  font-weight: 500;
  text-align: left;
}

.updates2::-webkit-scrollbar {
  display: none;
}

/*ABOUT US*/

.about {
  width: 100%;
  overflow-x: hidden;
}

.section-hr {
  color: #111;
  width: 40vw;
  border-width: 3px;
}

.about p {
  font-size: 20px;
  text-align: left;
}

.about .right {
  text-align: right;
}

.about img {
  height: 30vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

span.highlight-span {
  color: #111;
  font-size: 31px;
  font-family: 'poppins', serif;
  margin-bottom: 20px;
}

/*EVENTS*/

.events {
  width: 100%;
  overflow-x: hidden;
  padding: 30px;
  margin-top: 15vh;
}

.events .box {
  background-color: #222;
  border-radius: 10px;
  padding: 50px 20px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.events .icon {
  font-size: 90px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.events h2 {
  color: #fff;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}

.events h3 {
  color: #fff;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  text-transform: capitalize;
}

.events .event-link {
  color: #ffffff;
  border: #ccc 3px solid;
  width: 40%;
  padding: 7px;
  font-family: 'Cabin', sans-serif;
  transition: 0.25s;
}

.event-link:hover {
  background-color: #ccc;
  color: #111;
}

.events .box:hover {
  box-shadow: 0px 3px 3px #111;
}

.event-a {
  color: #aaa;
}

/*EVENTS*/

.events-page {
  align-content: left;
  margin-top: 15vh;
}

.events-page i {
  font-size: 14vh;
  color: #555;
  padding: 5vh;
  display: inline;
  text-align: left;
}

.events-page .section-title {
  font-family: 'apercu';
  font-weight: bold;
  color: #111;
  margin-left: 5vh;
  text-align: left;
  font-size: 4rem;
  padding: 0;
}

.events-page .section-hr {
  margin-left: 19%;
  align-content: left;
  width: 75%;
}

.events-page h2 {
  color: #111;
  font-size: 31px;
  font-family: 'poppins', serif;
}

.events-page p,
.events-page ul,
.events-page ol {
  font-size: 20px;
  text-align: left;
}

.events-page button {
  padding: 15px;
  margin: 2vh;
  background-color: #111;
  color: #fff;
}

.events-page button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.events-page a:hover {
  color: #fff;
}

/*TEAM
.team{
  width: 100%;
  padding: 30px;
}

.team .box{
  border: transparent;
  padding: 20px;
}

.heads-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.team h3 {
  font-family: 'poppins', serif;
  font-size: 25px;
  font-weight: 600;
}

.team h4 {
  font-size: 2.5vh;
  font-style: italic;
  margin: 2vh;
} */

.team{
  width: 100%;
  overflow-x: hidden;
}

.team .section-hr {
  color: #111;
  width: 80%;
  border-width: 3px;
}

.team .dabba{
  border: transparent 1px solid;
  padding: 15px;
  transition: 0.4s;
  margin: 20px;
}

.heads-img {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  margin: 15px;
}

.team h3 {
  font-family: 'poppins', serif;
  font-size: 25px;
}

.team h4 {
  font-size: 20px;
}

.team h5{
  font-size: 17px;
  color: #555;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}

/*CONTACT US*/

.contact {
  width: 100%;
  overflow-x: hidden;
  padding: 30px;
  padding-top: 10vh;
  background-color: #111;
  text-align: center;
  color: rgb(231, 224, 224);
}

.contact i {
  font-size: 8vh;
  margin-bottom: 2vh;
}

.contact h3 {
  font-family: 'poppins', serif;
  font-size: 3vh;
  margin-top: 2vh;
}

.contact h4 {
  font-size: 2.5vh;
}

.contact a:hover {
  text-decoration: none;
  color: rgb(231, 224, 224);
}

.contact p {
  margin-top: 15vh;
  font-size: 2.5;
  color: rgb(141, 131, 131);
}

/* ANIMATIONS */

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
