:root {
  --not-gold: #c3945c;
  --white: #eee;
}

/*PREREQUISITES*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none !important;
}

hr {
  width: 85%;
  transition: 0.4s !important;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

/*  LOADER 

.load {
  height: 100vh;
  width: 100%;
  background-color: beige;
  text-align: center;
  padding-top: 20%;
}

*/

/* OVERLAY 

.mainBod {
  display: none;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: beige;
  text-align: center;
}

.mainBod::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/bg2.jpg");
  background-position: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.loader-rectangle {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 50px;
  height: 90px;
}
*/

/* RECTANGLE LOADER 
.loader-rectangle div {
  background-color: goldenrod;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: rectangle-loading 1.2s infinite ease-in-out;
  -webkit-animation: rectangle-loading 1.2s infinite ease-in-out;
  -moz-animation: rectangle-loading 1.2s infinite ease-in-out;
  -o-animation: rectangle-loading 1.2s infinite ease-in-out;
}

.loader-rectangle .rect2 {
  animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
}

.loader-rectangle .rect3 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
}

.loader-rectangle .rect4 {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
}

.loader-rectangle .rect5 {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  -o-animation-delay: -0.8s;
}

@keyframes rectangle-loading {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

@-moz-keyframes rectangle-loading {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

@-o-keyframes rectangle-loading {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}
*/

/*EVENTS*/
.events {
  width: 100%;
  overflow-x: hidden;
  background-color: #111;
  color: #fff;
  padding: 30px;
}

.events h1 {
  color: var(--not-gold);
  font-size: 50px;
}

.events .section-hr {
  color: var(--not-gold);
  padding-bottom: 40px;
  width: 40%;
}

.events .flex-container {
  display: flex;
  flex-direction: row;
}

.events .row {
  margin-bottom: 10px;
}

.events .nav-link {
  width: 100%;
  background-color: #000 !important;
  border: transparent solid 3px;
  border-radius: 0px;
  color: var(--white);
  margin: 10px;
  padding: 30px;
  text-align: center;
}

.events .nav-link.active {
  background-color: #222;
  border-color: #c3945c !important;
  color: var(--white) !important;
}

.events .tab-pane {
  margin-left: 50px;
}

.events .tab-pane h1 {
  color: #eee;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.events .tab-pane h2 {
  color: var(--white);
  font-size: 20px;
  text-align: left;
}

.events .tab-pane p {
  color: var(--white);
  font-size: 16px;
  text-align: left;
}

.events .tab-pane ul {
  color: var(--white);
  font-size: 16px;
  text-align: left;
}

.events table,
td {
  border: 1px solid var(--white);
  padding: 2vh;
}

/* READ MORE BUTTON */

.more {
  display: none;
}

.more2 {
  display: none;
}

.events .show-more {
  padding: 1.5vh 5vh;
  background-color: var(--not-gold);
  color: var(--white);
  font-size: 16px;
}

.event .show-more button:hover {
  background-color: #f59c2f;
}
